:root {
  --color-grey-light: #d1d1d1;
  --color-grey-lighter: #f8f8f8;
  --color-primary: #578940;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
}

body {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100vh;
}

.container {
  height: 100%;
}
