.expenses-total {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 100%;
  width: 40rem;
  min-width: fit-content;
  padding: 3.2rem 4.9rem;
}

.expenses-total__title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.no-expense {
  font-size: 1.6rem;
}
